.PanelHeader {
  display: flex;
  align-items: center;
  margin-top: 30px;

  .tab-menu {
    width: 200px;

    a {
      display: inline-block;
      margin-right: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .tab-item {
    padding: 10px 30px 10px 15px;
    border: 1px #eee solid;
    margin-left: 10px;
    cursor: pointer;
    transition: color .5s ease;
    position: relative;

    &.active {
      border-color: #000;
      background-color: #eeeeee;
    }

    &:hover {
      color: #000a83;
      text-decoration: underline;
    }

    &:first-child {
      margin-left: 0;
    }

    span {
      position: absolute;
      top: 0;
      bottom: 0;
      font-size: 26px;
      right: 7px;
      display: flex;
      height: 100%;
      align-items: center;
      z-index: 2;

      &:hover {
        color: red;
      }
    }
  }

  .tabs-list {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
  }
}