.wrap {
    min-height: 100%;
    background-color: #eeeeee;

    .content_holder {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}