.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        display: inline-block;
        width: 70px;
        height: 70px;
    }
}
