.pagination {
  text-align: center;
  margin-top: 30px;

  .page-switcher {
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px #c7c7c7 solid;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;

    &[data-disabled="true"] {
      pointer-events: none;
    }

    &:hover {
      border-color: #000;
    }
  }

  .current-page {
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px #c7c7c7 solid;
    margin: 0 20px;
    display: inline-block;
  }

}