.OfflineOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background: rgba(255, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;

    transition: opacity 0.3s ease;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}
