.item {
  margin-bottom: 10px;

  a {
    color: #0366d6;
    font-size: 20px;
    transition: opacity .3s ease;

    &:hover {
      opacity: .7;
    }
  }
}

.items-list {
  position: relative;
}

.fetching-overlap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .5);
}