html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body:before {
    content: '';
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}
